/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Noto Sans TC', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	max-width: 1366px;
	margin: 0 auto;
	position: relative;
}
.header {
	width: 79.42899%;
	padding: 118px 10.248902% 117px 10.322108%;
	position: relative;
}
.header_background {
	width: 62.298682%;
	height: 768px;
	background-image: url(images/bg_home.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
.banner {
	width: 79.648609%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 10.175695% 24px 10.175695%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
}
.logo {
	width: 218px;
	height: 40px;
}
.buttom {
	width: 128px;
	height: 40px;
	border-radius: 20px;
	background-color: #FF5D50;
}
.buttom a {
	width: 64px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	border-radius: 20px;
	padding: 8px 32px 8px 32px;
	display: block;
}
.content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 20;
}
.text {
	width: 41.751152%;
	z-index: 20;
}
h5 {                                 /*h5*/
	font-size: 18px;
	line-height: 26px;
	color: #221E1F;
}
.text h5 {
	font-weight: bold;
	color: #56C4C5;
	margin-bottom: 8px;
}
.text h1 {
	font-size: 48px;
	line-height: 70px;
	font-weight: bold;
	color: #221E1F;
	margin-bottom: 16px;
}
h4 {                                 /*h4*/
	font-size: 20px;
	line-height: 29px;
	color: #221E1F;
}
.content img {
	width: 49.032258%;

}
.main {
	width: 100%;
	padding-top: 100px;
}
.platform {
	width: 70.937042%;  /*969px*/
	position: relative;
	margin-left: 14.128843%;
	margin-right: 14.934114%;
}
.ball01 {
	width: 138px;
	height: 360px;
	background: url(images/ball01.svg) right;
	position: absolute;
	top: -280px;
	left: -193px;
}
h2 {                                  /*h2*/
	font-size: 32px;
	font-weight: bold;
	line-height: 46px;
	color: #221E1F;
	display: inline-block;
}
.platform h2 {
	margin-bottom: 48px;
	margin-left: 35.706914%;
	margin-right: 34.571723%;
}
.platform ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.group1 {
	width: 25.283798%;
}
.group2 {
	width: 24.767802%;
}
.group3 {
	width: 22.910217%;
}
.platform ul img {
	height: 90px;
}
h3 {                                  /*h3*/
	font-size: 24px;
	font-weight: bold;
	line-height: 35px;
	color: #221E1F;
	margin-top: 24px;
	margin-bottom: 24px;
}
p {                                   /*p*/
	font-size: 16px;
	line-height: 24px;
	color: #221E1F;
}
.platform p {
	color: #747474;
	text-align: center;
}
.charactor {
	width: 79.648609%;
	margin-left: 10.175695%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.ball02 {
	width: 210px;
	height: 310px;
	background-image: url(images/ball02.svg);
	background-size: cover;
	position: absolute;
	bottom: -193px;
	right: -12.775735%
}
.charactor h2 {
	margin-bottom: 16px;
}
.charactor ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 48px;
	z-index: 20;
}
.item {
	width: 260px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 10px #00000014;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 24px;
}
.item img{
	border-radius: 12px 12px 0 0;
}
.color_bold {
	color: #56C4C5;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 16px;
}
.item p {
	text-align: center;
}
.features {
	width: 76.061493%;
	margin-top: 100px;
	margin-left: 10.175695%;
	margin-right: 13.762811%;
	display: flex;
	justify-content: space-between;
}
.left {
	width: 48.79692%;
}
.left ul {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}
.list {
	width: 166px;
	height: 200px;
	padding: 32px 32px 48px 32px;
	background: #FFFFFF;
	box-shadow: 0px 2px 10px #00000014;
	border-radius: 12px;
}
.list1, .list2 {
	margin-bottom: 28px;
}
.shadow {
	width: 86px;
	height: 86px;
	border-radius: 100%;
	background: #FFFFFF;
	box-shadow: 0px 2px 10px #00000014;
}
.list1 img {
	padding: 17px 15px 17px 19px;
}
.list2 img {
	padding: 17.5px 18px 17.5px 18px;
}
.list3 img {
	padding: 22.5px 20px 22.5px 20px;
}
.list4 img {
	padding: 21.5px 22px 21.5px 22px;
}
.list h5 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: bold;
}
.right {
	width: 38.113571%;
	margin-top: 165px;
}
.right h2 {
	margin-bottom: 16px;
}
.right h5 {
	margin-bottom: 24px;
}
.fee {
	font-size: 18px;
	line-height: 26px;
	text-decoration: none;
	color: #ffffff;
	background: #56C4C5;
	border-radius: 24px;
	padding: 12px 32px 12px 32px;
	display: inline-block;
}
.comment {
	width: 79.648609%;
	margin-left: 10.175695%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.client {
	width: 100%;
	margin-top: 48px;
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
}
.user {
	width: 32.352941%;
	position: relative;
	z-index: 20;
}
.inside {
	padding: 48px 32px 24px 32px;
	margin-top: 56px;
	background: #FFFFFF;
	box-shadow: 0px 2px 10px #00000014;
	border-radius: 12px;
}
.words {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 24px;
	margin-bottom: 24px;
}
.company_name {
	font-weight: bold;
}
.title {
	margin-top: 7px;
	display: inline-block;
}
.photo {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	position: absolute;
	left: 32px;
}
.star {
	width: 34.375%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	right: 32px;
	bottom: 27.15px;
}
.star img {
	width: 17px;
	height: 16px;
}
.ball03 {
	width: 150px;
	height: 150px;
	background-image: url(images/ball03.svg);
	background-size: cover;
	position: absolute;
	left: -89px;
	top: 51px;
}
.footer {
	width: 100%;
	height: 503px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(images/home_footer.svg);
	background-repeat: no-repeat;
	background-size: contain; 
	margin-top: 100px;
}
.footer h2 {
	margin-top: 260px;
	margin-bottom: 48px;
}
.copyright {
	width: 100%;
	height: 56px;
	background: #F5F5F5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.top {
	position: fixed;
	right: 48px;
	bottom: 23px;
	z-index: 20;
}
.list1 {order: 1;}
.list2 {order: 2;}
.list3 {order: 3;}
.list4 {order: 4;}

@media (max-width: 375px) {
	.list2 {order: 3;}
	.list3 {order: 2;}
	.text h1 {
		font-size: 32px;
		line-height: 46px;
	}
	h2 {
		font-size: 28px;
		line-height: 40px;
		text-align: center;
	}
	h3 {
		font-size: 18px;
		line-height: 26px;
	}
	h4 {
		font-size: 16px;
		line-height: 24px;
	}
	h5 {
		font-size: 16px;
		line-height: 24px;
		color: #221E1F;
	}
	.header {
		width: 335px;
		padding: 104px 20px 38.5px 20px;
		margin-bottom: 60px;
	}
	.banner {
		width: 335px;
		padding: 16px 20px 16px 20px;
		margin-bottom: 32px;
		border-bottom: 2px solid #FFD153;
	}
	.logo {
		width: 131px;
		height: 24px;
	}
	.content {
		flex-direction: column;
	}
	.text {
		width: 335px;
	}
	.content img {
		width: 304px;
		height: 305px;
		margin-top: 32px;
	}
	.header_background {
		width: 334px;
		height: 245px;
		background-image: url(images/bg_home_sm.svg);
		top: 391px;
		right: 21px;
	}
	.main {
		padding-top: 0px;
	}
	.platform {
		width: 314px;
		margin-left: 0;
		margin-right: 61px;
	}
	.platform ul {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.ball01 {
		width: 49px;
		height: 126px;
		top: 15px;
		left: 0;
		background-size: cover;
	}
	.platform h2 {
		margin-bottom: 32px;
		margin-left: 62px;
		margin-right: 0;
	}
	.platform ul {
		flex-wrap: wrap;
	}
	.group1 {
		width: 228px;
		margin-left: 74px;
		margin-right: 12px;
	}
	.group2 {
		width: 240px;
		margin-top: 24px;
		margin-bottom: 24px;
		margin-left: 68px;
		margin-right: 6px;
	}
	.group3 {
		width: 212px;
		margin-left: 82px;
		margin-right: 20px;
	}
	.platform ul img {
		height: 60px;
	}
	.platform h3 {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.charactor {
		width: 355px;
		margin-top: 60px;
		margin-left: 20px;
	}
	.ball02 {
		width: 88px;
		height: 135px;
		bottom: 0;
		right: 0;
	}
	.charactor h4 {
		width: 334px;
		font-size: 18px;
		line-height: 26px;
		text-align: center;
	}
	.charactor ul {
		margin-top: 32px;
	}
	.item {
		margin-bottom: 24px;
		margin-left: 38px;
		margin-right: 57px;
	}
	.item4_bottom_distance {
		padding-bottom: 48px;
		margin-bottom: 32px;
	}
	.features {
		width: 335px;
		flex-direction: column-reverse;
		margin-top: 28px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.right {
		width: 100%;
		margin-top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.right h5 {
		margin-bottom: 16px;
		text-align: center;
	}
	.right p{
		text-align: center;
		margin-bottom: 16px;
	}
	.left {
		width: 100%;
		margin-top: 32px;
	}
	.list {
		width: 165px;
		padding: 32px 41px 48px 24px;
		margin-left: 53px;
		margin-right: 52px;
		margin-bottom: 24px;
	}
	.list4 {
		margin-bottom: 0;
	}
	.list h5 {
		margin-bottom: 20px;
	}
	.comment {
		width: 94.666667%;
		margin-left: 0;
		margin-right: 20px;
		margin-top: 60px;
	}
	.client {
		width: 100%;
		margin-top: 32px;
		margin-left: 20px;
		flex-wrap: wrap;
	}
	.user {
		width: 100%;
	}
	.user2, .user3 {
		display: none;
	}
	.inside {
		padding: 48px 17px 16px 16px;
	}
	.words {
		padding-bottom: 16px;
		margin-bottom: 16px;
	}
	.title {
		margin-top: 8px;
	}
	.ball03 {
		width: 77px;
		height: 153px;
		left: 0px;
		top: 40px;
		background-position: right;
	}
	.footer {
		background-image: url(images/footer_sm.svg);
		background-size: contain;
		margin-top: 60px;
	}
	.footer h2 {
		font-size: 24px;
		line-height: 35px;
	}
	.top {
		width: 50px;
		height: 50px;
		right: 16px;
		bottom: 16px;
	}
}

